#google-sign-in-btn {
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    top: 18px;
}

form.setpassword_form {
    .field-instructions {
        & > .control {
            width: 100%;
        }
    }
}

form.setpassword_form {
    .admin__legend {
        margin-bottom: 1rem;
    }
}