<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\App\Action\Plugin\Authentication" type="Sifuen\BackendGoogleSso\App\Action\Plugin\Authentication" />

    <type name="Magento\User\Model\User">
        <plugin name="Sifuen_BackendGoogleSso::authenticate" type="Sifuen\BackendGoogleSso\Plugin\Magento\User\Model\User" />
    </type>

    <type name="\Magento\User\Block\User\Edit\Tab\Main">
        <plugin name="Sifuen_BackendGoogleSso::add_pw_auth_field" type="Sifuen\BackendGoogleSso\Plugin\Magento\User\Block\User\Edit\Tab\Main" />
    </type>
</config>
